:root.theme-dark {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-text-color: #f1b2ce;
  --nav-color: #ff0070;
  --nav-hover-color: rgb(255 0 112 / 0.4);
  --main-head-color: #000028;
  --section-head-color: #ff0070;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
  --text-bg-color: #ff0070;
}

.theme-dark .header__rec {
  display: block;
}