:root.theme-dark {
  --accent-color: #ff0070;
  --main-bg-image: url(../images/cover-image-dark.png);
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
  --nav-color: rgb(255 0 112 / 0.4);
  --section-head-color: #ff0070;
  --main-head-color: #000028;
  --main-text-color: #f1b2ce;
}

.theme-dark .header__rec {
  display: flex;
}