:root.theme-light {
  --accent-color: #ff8dcb;
  --main-bg-image: url(../images/cover-image-light.png);
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
  --nav-color: rgb(50 49 45 / 0.4);
  --section-head-color: #353430;
  --main-head-color: #353430;
  --main-text-color: #353430;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-bg-image: url(../images/cover-image-light.png);
    --header-logo-color: #ffc2e6;
    --footer-logo-color: #ffc2e6;
    --nav-color: rgb(50 49 45 / 0.4);
    --section-head-color: #353430;
    --main-head-color: #353430;
    --main-text-color: #353430;
  }

  .header__rec {
    display: none;
  }
}
