/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--main-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  color: var(--header-logo-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--header-logo-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 668px;
  padding: var(--main-gap, 20px);
}

.header__title {
  margin-block-end: 55px;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  margin-block-start: 62px;
  margin-block-end: 66px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0px 13px;
  vertical-align: middle;
  color: var(--accent-color);
  font-family: var(--main-font);
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__rec {
  position: absolute;
  color: var(--accent-color);
  font-family: var(--main-font);
  text-align: end;
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) +2px);
}

.header__rec::after {
  content: "";
  position: absolute;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 10px;
  block-size: 10px;
  inset-inline-end: 0;
  inset-block-start: 50%;
}

.header__text {
  color: var(--main-head-color);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  background-color: var(--text-bg-color);
  text-wrap: balance;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--main-gap, 0px);
  right: var(--main-gap, 0px);
  display: block;
  width: 24px;
  height: 24px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--main-gap, 0px);
  left: var(--main-gap, 0px);
  display: block;
  width: 24px;
  height: 24px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.main {
  display: grid;
  gap: 80px;
  margin-block-start: 40px;
  padding: var(--main-gap, 20px);
}

.section__title {
  margin-block-start: 50px;
  color: var(--section-head-color);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.card {
  display: grid;
  gap: var(--main-gap);
}

.card__title {
  margin-block-start: var(--main-gap);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  background-color: var(--accent-color);
  color: var(--main-head-color);
}

.card__subtitle {
  margin-block-start: 10px;
  font-weight: 400;
}

.card__text {
  color: var(--main-text-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  text-wrap: balance;
}

.grid__title {
  margin-block-start: 50px;
}

.picture {
  width: 100%;
}

.images {
  margin-block-start: var(--main-gap, 10px);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header__text {
    align-self: flex-end;
    width: 50%;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--main-gap);
  }

  .section__title {
    margin-block-start: var(--main-gap);
  }

  .causes {
    grid-template-columns: 1fr;
  }

  .causes .section__title {
    max-width: 236px;
  }

  .grid__title {
    margin-block-start: 80px;
  }

  .images {
    display: grid;
    gap: var(--main-gap);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "pic-1 pic-1 pic-2"
      "pic-3 pic-4 pic-2"
      "pic-3 pic-5 pic-5";
  }

  .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pic-1 {
    grid-area: pic-1;
  }

  .pic-2 {
    grid-area: pic-2;
  }

  .pic-3 {
    grid-area: pic-3;
  }

  .pic-4 {
    grid-area: pic-4;
  }

  .pic-5 {
    grid-area: pic-5;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin-block-start: 0px;
  }

  .header__title {
    margin-block-start: 275px;
  }

  .causes {
    display: block;
  }

  .causes .section__title {
    max-width: 315px;
  }

  .causes .text-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--main-gap);
    align-items: start;
  }
}
