/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--main-bg-image, url(../images/cover-image-dark.png));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  color: var(--header-logo-color, #db00ff);
  font-family: var(--main-font, "IBM Plex Mono");
  font-weight: 700;
  font-size: var(
    --header-logo-size,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 668px;
  padding: var(--main-gap, 20px);
}

.header__title {
  margin-block-end: 55px;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  margin-block-start: 60px;
  margin-block-end: 67px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 4px 13px;
  color: var(--section-head-color, #ff0070);
  font-family: var(--main-font, "IBM Plex Mono");
  font-size: var(--main-text-size, 18px);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-color, 255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--section-head-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--section-head-color, #ff0070);
  pointer-events: none;
}

.header__rec {
  position: absolute;
  top: var(--main-gap, 10px);
  right: calc(var(--main-gap, 10px) + 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__rec::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  font-size: var(--main-text-size, 18px);
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
}

.header__text {
  color: var(--main-head-color, #ff0070);
  font-weight: 700;
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 1.3);
  background-color: var(--accent-color, #ff0070);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--main-gap, 10px);
  right: var(--main-gap, 10px);
  display: block;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--section-head-color, #ff0070);
  border-block-start: 1px solid var(--section-head-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--main-gap, 10px);
  left: var(--main-gap, 10px);
  display: block;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--section-head-color, #ff0070);
  border-block-end: 1px solid var(--section-head-color, #ff0070);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  margin: 30px auto;
  padding: var(--main-gap, 10px);
}

.text-blocks {
  display: flex;
  flex-direction: column;
}

.section__title {
  color: var(--section-head-color, #ff0070);
  font-weight: 700;
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 1.3);
}

.card {
  display: grid;
  gap: var(--main-gap, 10px);
}

.card__title {
  margin-block-start: 20px;
  color: var(--main-head-color, #ff0070);
  font-weight: 700;
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 1.3);
  background-color: var(--accent-color, #ff0070);
}

.card__subtitle {
  font-weight: 400;
}

.card__text {
  color: var(--main-text-color, #f1b2ce);
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 1.3);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

.text-link:hover {
  border-bottom: 1px solid var(--main-text-color, #f1b2ce);
}

.text-link:focus-visible {
  outline: 1px solid var(--main-text-color, #f1b2ce);
}

.grid__title {
  margin-block-start: 0px;
}

.picture {
  width: 100%;
}

.grid__images {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  margin-block-start: var(--main-gap, 10px);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (width >= 768px) {
  .header {
    display: grid;
  }

  .header__title {
    margin-inline-start: calc(0px - var(--main-gap, 20px));
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .header__text {
    justify-self: end;
    align-self: flex-start;
    width: 50%;
  }

  .header__theme-menu-list {
    gap: 10px;
    margin-block-start: 170px;
    margin-block-end: 10px;
  }

  .main {
    gap: 80px;
    margin: 40px auto;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--main-gap, 20px);
  }

  .section__title {
    max-width: 236px;
    margin-block-end: var(--main-gap, 20px);
  }

  .text-blocks {
    gap: var(--main-gap, 20px);
  }

  .card {
    gap: 10px;
  }

  .card__title {
    margin-block-start: 0px;
  }

  .causes {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .grid__images {
    display: grid;
    grid-template-areas:
      "pic_sunset pic_sunset pic_ice-cream"
      "pic_tape pic_books pic_ice-cream"
      "pic_tape pic_street pic_street";
    gap: var(--main-gap, 20px);
  }

  .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pic_sunset {
    grid-area: pic_sunset;
  }

  .pic_ice-cream {
    grid-area: pic_ice-cream;
  }

  .pic_tape {
    grid-area: pic_tape;
  }

  .pic_books {
    grid-area: pic_books;
  }

  .pic_street {
    grid-area: pic_street;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin-block-start: 0px;
  }

  .header__title {
    margin-block-start: 150px;
  }

  .section {
    gap: 10px;
  }

  .causes {
    display: block;
  }

  .section__title {
    max-width: 315px;
  }

  .causes .text-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    margin-block-start: var(--main-gap, 20px);
  }
}
