:root {
  --accent-color: #ff0070;
  --main-bg-image: url(../images/cover-image-dark.png);
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
  --nav-color: rgb(255 0 112 / 0.4);
  --section-head-color: #ff0070;
  --main-head-color: #000028;
  --main-text-color: #f1b2ce;
  --main-font: "IBM Plex Mono", sans-serif, monospace;
  --main-gap: 10px;
  --main-text-size: 18px;
  --main-line-height: 1.3;
  --header-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --main-gap: 20px;
    --header-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --footer-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
